body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}


.header-bg {
  background-color: #CA1F27;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.header-menu-main {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.header-menu {
  display: flex;
  gap: 40px;
  list-style: none;
}


 
.header-menu-right {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  list-style: none;
}

.header-menu a, .header-menu-right a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  align-items: center;
  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #500004;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after, .header-menu-right a:hover:after {
  width: 100%;
}


.aluno::before{
  content: "";
  background-image: url("../img/icones-menu/alunonovo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 32px;
  height: 32px;
  left: -40px;
  top: 40%;
  transform: translateY(-50%);
  
}

.matricular:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
  
}

@media (max-width: 1000px) {
  .header-menu, .header-menu-right {
    gap: 20px;
  }
  .header {
    flex-direction: column;
  }
  .header-menu a, .header-menu-right a {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .header-menu a, .header-menu-right a {
    font-size: 14px;
  }
}